<li class="{{type}} {{#if self}}self{{/if}}">
{{#equal type "chat"}}
	<div class="content">{{content}}</div>
	{{> user user }}
	{{> timestamp timestamp }}
{{/equal}}
{{#equal type "emote"}}
	{{#user}}
	<span class="user" data-user-id="{{id}}"><strong class="name">{{name}}</strong></span>
	{{/user}}
	<span class="content">{{content}}</span>
	{{> timestamp timestamp }}
{{/equal}}
{{#equal type "like"}}
	<i class="fa fa-heart"></i>
	{{#user}}<span class="user"><strong class="name">{{name}}</strong></span>{{/user}} {{message}}
	{{> timestamp timestamp }}
{{/equal}}
{{#equal type "join"}}
	<i class="fa fa-chevron-right"></i>
	{{#user}}
	<span class="user"><strong class="name">{{name}}</strong></span>
	{{/user}} has joined.
	{{> timestamp timestamp }}
{{/equal}}
{{#equal type "leave"}}
	<i class="fa fa-chevron-left"></i>
	{{#user}}
	<span class="user"><strong class="name">{{name}}</strong></span>
	{{/user}} has left.
	{{> timestamp timestamp }}
{{/equal}}
{{#equal type "play"}}
	{{#item}}
	<span class="item">
		<span class="image {{source}}" style="background-image:url({{image}})" />
		<h3 class="title"><a href="{{url}}" target="_blank">{{title}}</a></h3>
	</span>
	{{#user}}Posted by {{> user this }}{{/user}}
	{{/item}}
	{{^item}}
		<em>The player is now empty.</em>
	{{/item}}
	{{> timestamp timestamp }}
{{/equal}}
{{#equal type "skip"}}
	<i class="fa fa-forward"></i>
	{{#user}}<span class="user"><strong class="name">{{name}}</strong></span>{{/user}} skipped
	{{#item}}<span class="item"><strong class="title"><a href="{{url}}" target="_blank">{{title}}</a></strong></span>{{/item}}
	{{> timestamp timestamp }}
{{/equal}}
</li>
