<li class="{{type}}">
{{#equal type "chat"}}
	{{#user}}
	<span class="user" data-user-id="{{id}}"><strong class="name">{{name}}</strong></span>
	{{/user}}
	<span>{{content}}</span>
{{/equal}}
{{#equal type "emote"}}
	{{#user}}
	<span class="user" data-user-id="{{id}}"><strong class="name">{{name}}</strong></span>
	{{/user}}
	<span>{{content}}</span>
{{/equal}}
{{#equal type "like"}}
	<i class="fa fa-heart"></i>
	{{#user}}<span class="user"><strong class="name">{{name}}</strong></span>{{/user}} {{message}}
{{/equal}}
{{#equal type "join"}}
	<i class="fa fa-chevron-right"></i>
	{{#user}}
	<span class="user"><strong class="name">{{name}}</strong></span>
	{{/user}} has joined.
{{/equal}}
{{#equal type "leave"}}
	<i class="fa fa-chevron-left"></i>
	{{#user}}
	<span class="user"><strong class="name">{{name}}</strong></span>
	{{/user}} has left.
{{/equal}}
{{#equal type "play"}}
	{{#item}}
	<span class="item">
		<span class="image {{source}}" style="background-image:url({{image}})" />
		<h3 class="title"><a href="{{url}}" target="_blank">{{title}}</a></h3>
	</span>
	{{#user}}Posted By <span class="user"><strong class="name">{{name}}</strong></span>{{/user}}
	{{/item}}
	{{^item}}
		<em>The player is now empty.</em>
	{{/item}}
{{/equal}}
{{#equal type "skip"}}
	<i class="fa fa-forward"></i>
	{{#user}}<span class="user"><strong class="name">{{name}}</strong></span>{{/user}} skipped
	{{#item}}<span class="item"><strong class="title"><a href="{{url}}" target="_blank">{{title}}</a></strong></span>{{/item}}
{{/equal}}
</li>