<li data-id="{{id}}">
	<span class="image {{source}}" style="background-image:url({{image}})" />
	<h3 class="title"><a href="{{url}}" target="_blank">{{title}}</a></h3>
	<var class="duration">{{secondsToTime duration}}</var>
	<a class="remove" href="#remove"><i class="fa fa-times"></i></a>
</li>