{{#item}}
<h3 class="title"><a href="{{url}}" target="_blank">{{title}}</a></h3>
{{/item}}
{{#owner}}Posted by <span class="owner"><strong class="name">{{name}}</strong><img class="avatar" src="{{avatar}}" /></span>{{/owner}}
{{#influencer}}<i class="icon-repeat"></i> <span class="influencer"><strong class="name">{{name}}</strong><img class="avatar" src="{{avatar}}" /></span>{{/influencer}}