<li>
	<span class="image {{source}}" style="background-image:url({{image}})" />
	<h3 class="title"><a href="{{url}}" target="_blank">{{title}}</a></h3>
	<p class="description">{{description}}</p>
	<ul class="details">
		<li class="author">{{author}}</li>
		<li class="duration">{{secondsToTime duration}}</li>
		<li class="added">{{date}}</li>
		<li class="plays">{{plays}}</li>
	</ul>
	<button class="add btn btn-small btn-primary" alt="add" value="{{url}}">Add to Playlist <i class="fa fa-plus"></i></button>
</li>